@font-face {
	font-family: "Sriracha"; 
	src: url(./assets/fonts/sriracha.ttf); 
}

* {
  margin: 0;
	padding: 0;
  box-sizing: border-box;
}

ol, ul {
	list-style: none;
}

a {
  text-decoration: none;
  color: aliceblue;
}

.container {
  width: 85vw;
  margin: 0 auto;
}

body {
  font-family: "Sriracha", "Comic Sans MS", sans-serif;
  font-size: 16px;
  background-color: #242323;
  color: aliceblue;
  background: url("./assets/images/bg_desktop_pages.jpg");
}
